
@font-face{
    font-family: metropolis;
    src: url("../font/metropolis.thin.otf");
}

@font-face{
    font-family: metropolis2;
    src: url("../font/metropolis.regular.otf");
}
@font-face{
    font-family: metropolis3;
    src: url("../font/metropolis.semi-bold.otf");
}

@font-face{
    font-family: metropolis4;
    src: url("../font/metropolis.extra-bold.otf");
}
/* Login */
/*header */
.logo {
    margin-bottom: 40px;
    width: 135px;
    height: 50px;
}

.header{
    margin-bottom: 50px;
}

.header .message span{
    font-family: metropolis4;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #222222;
}

/*Button */
.btn.switch{
    width: 123px;
    height: 48px;
}

.text-center.btng{
    margin-bottom: 40px;
}

.text-center.btng .btn-group .btn-success.switch{
    background: #DB3022;
    font-family: metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}
.text-center.btng .btn-group .btn-success.switch:hover{
    background:#b82d20 ;
}
.text-center.btng .btn-group .btn-success.switch:focus,
.text-center.btng .btn-group .btn-success.switch:active{
    outline: none;
    box-shadow: none;
    background: #851f16;
}

.text-center.btng .btn-group .btn-secondary.switch{
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
    background: #ffffff;
    font-family: Metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B;
}

.text-center.btng .btn-group .btn-secondary.switch:hover{
    background: #ece6e6;
}
.text-center.btng .btn-group .btn-secondary.switch:focus,
.text-center.btng .btn-group .btn-secondary.switch:active{
    outline: none;
    box-shadow: none;
    background: #DB3022;
    color: #ffffff;
    border: 1px solid #DB3022;
}

/*Form-login */
.form-login{
width: 400px;
margin-bottom: 40px;
}

.form-login .form-group input{
    height: 48px;
}

.text-right.text-login{
    margin: 26px 0;
}

.form-login .form-group input{
    padding-left: 23px;
}

.form-login .form-group input::placeholder{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B;
}

.form-control:focus{
    border-color: #DB3022;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(219,48,34, 0.6);

}

.form-login .text-right.text-login a {
    text-decoration: none;
    color: #DB3022;
    font-family: Metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

.form-login .btn-success.btn-login{
    border-radius: 25px;
    background: #DB3022;
    height: 48px;
    text-align: center;
    text-transform: uppercase;
    font-family: Metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #DB3022;
    color: #ffffff;
}

.form-login .btn-success.btn-login:hover{
    background: #b82d20;
}
.form-login .btn-success.btn-login:active,
.form-login .btn-success.btn-login:focus{
    background: #851f16;
    outline: none;
    box-shadow: none;
}

.text-center.bottom-form span{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #222222;
}

.text-center.bottom-form a {
    font-family: Metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #DB3022;
}

/* Form-register*/

.register form{
    margin-bottom: 50px;
}

.form-login .btn-success.btn-register{
    border-radius: 25px;
    background: #DB3022;
    height: 48px;
    text-align: center;
    text-transform: uppercase;
    font-family: Metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #DB3022;
    color: #ffffff;
}

.register .form-login button{
    margin-top: 50px;
}

/* navbar */

.navbar {
    padding: 28px 120px;
    background: #FFFFFF;
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}

.form-inline{
   margin-left: 60px; 
}

.navbar .form-inline input{
    /* width: 300px; */
    border: 1px solid #8E8E93;
    border-radius: 23px;
    padding: 9px 0px 9px 20px;
    height: 40px;
    border-right: none;
}

.navbar .form-inline input:focus,
.navbar .form-inline input:active{
    outline: none;
    box-shadow: none;
}

.navbar .form-inline input::placeholder{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #9B9B9B;
}

.navbar .form-inline .input-group .input-group-append button{
    background: #FFFFFF;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #8E8E93;
    
}

.navbar .form-inline .input-group .input-group-append button:focus{
    outline: none;
}

.navbar .form-inline img{
    margin-right: 20px;
}

.navbar .form-inline .input-group-append{
    width: 40px;
}

.navbar .form-inline .filter{
    margin-left: 20px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #8E8E93;
    border-radius: 12px;
    padding-left: 9px;
    padding-bottom: 4px;
}
.navbar .form-inline .filter:focus,
.navbar .form-inline .filter:active{
    outline: none;
    background: #ece6e6;
}
.navbar .form-inline .filter img{
    height: 20px;
    width: 20px;
}

.navbar .navbar-nav .nav-item .btn{
    background: #DB3022;
    border-radius: 25px;
    width: 100px;
    height: 36px;
    text-align: center;
    padding-bottom: 34px;
}

.navbar .navbar-nav .nav-item .cart-logo{
    margin-right: 40px;
    padding-top: 7px;
}
.nav{
    margin-bottom: 47px;
}

.container .row.slider{
    margin-top: 47px;
    margin-bottom: 60px;
}

.container .row.label{
    margin-bottom: 25px;
}

.container .row.cards .card{
    display: inline-block;
    /* border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; */
    padding-bottom: 30px;
    border-radius: 8px;
    width: 208px;
    height: 278px;
    margin: 0px 10px 20px 0px;
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}

.container .row.cards .card img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.container .row.cards .card .card-body{
    padding: 0;
}

.container .row.cards .card .card-body .isi{
    width: 184px;
    margin: 10px 12px 6px 12px;
}

.container .row.cards .card .card-body .isi.title{
    font-family: metropolis3;
    ont-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.container .row.cards .card .card-body .isi.price-title{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #DB3022;
}

.container .row.cards .card .card-body .isi.brand-title{
    font-family: Metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #9b9b9b;
}

.container .row.cards .card .card-body .isi.rating img{
    margin-left: 2px;
}
.container .row.cards .card .card-body .isi.rating span{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 8px;
    color: #9b9b9b;
}

.container .row.label span{
    font-family: Metropolis3;
    font-size: 34px;
    line-height: 34px;
    color: #222222;
}

.container .row.label p{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #9b9b9b;
}


