
@font-face{
    font-family: metropolis;
    src: url("../font/metropolis.thin.otf");
}

@font-face{
    font-family: metropolis2;
    src: url("../font/metropolis.regular.otf");
}
@font-face{
    font-family: metropolis3;
    src: url("../font/metropolis.semi-bold.otf");
}

@font-face{
    font-family: metropolis4;
    src: url("../font/metropolis.extra-bold.otf");
}
/* Login */
/*header */
.logo {
    margin-bottom: 40px;
    width: 135px;
    height: 50px;
}

.header{
    margin-bottom: 50px;
}

.header .message span{
    font-family: metropolis4;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #222222;
}

/*Button */
.btn.switch{
    width: 123px;
    height: 48px;
}

.text-center.btng{
    margin-bottom: 40px;
}

.text-center.btng .btn-group .btn-success.switch{
    background: #DB3022;
    font-family: metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}
.text-center.btng .btn-group .btn-success.switch:hover{
    background:#b82d20 ;
}
.text-center.btng .btn-group .btn-success.switch:focus,
.text-center.btng .btn-group .btn-success.switch:active{
    outline: none;
    box-shadow: none;
    background: #851f16;
}

.text-center.btng .btn-group .btn-secondary.switch{
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
    background: #ffffff;
    font-family: Metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B;
}

.text-center.btng .btn-group .btn-secondary.switch:hover{
    background: #ece6e6;
}
.text-center.btng .btn-group .btn-secondary.switch:focus,
.text-center.btng .btn-group .btn-secondary.switch:active{
    outline: none;
    box-shadow: none;
    background: #DB3022;
    color: #ffffff;
    border: 1px solid #DB3022;
}

/*Form-login */
.form-login{
width: 400px;
margin-bottom: 40px;
}

.form-login .form-group input{
    height: 48px;
}

.text-right.text-login{
    margin: 26px 0;
}

.form-login .form-group input{
    padding-left: 23px;
}

.form-login .form-group input::placeholder{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B;
}

.form-control:focus{
    border-color: #DB3022;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(219,48,34, 0.6);

}

.form-login .text-right.text-login a {
    text-decoration: none;
    color: #DB3022;
    font-family: Metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

.form-login .btn-success.btn-login{
    border-radius: 25px;
    background: #DB3022;
    height: 48px;
    text-align: center;
    text-transform: uppercase;
    font-family: Metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #DB3022;
    color: #ffffff;
}

.form-login .btn-success.btn-login:hover{
    background: #b82d20;
}
.form-login .btn-success.btn-login:active,
.form-login .btn-success.btn-login:focus{
    background: #851f16;
    outline: none;
    box-shadow: none;
}

.text-center.bottom-form span{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #222222;
}

.text-center.bottom-form a {
    font-family: Metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #DB3022;
}

/* Form-register*/

.register form{
    margin-bottom: 50px;
}

.form-login .btn-success.btn-register{
    border-radius: 25px;
    background: #DB3022;
    height: 48px;
    text-align: center;
    text-transform: uppercase;
    font-family: Metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #DB3022;
    color: #ffffff;
}

.register .form-login button{
    margin-top: 50px;
}

/* navbar */

.navbar {
    padding: 28px 120px;
    background: #FFFFFF;
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}

.form-inline{
   margin-left: 60px; 
}

.navbar .form-inline input{
    /* width: 300px; */
    border: 1px solid #8E8E93;
    border-radius: 23px;
    padding: 9px 0px 9px 20px;
    height: 40px;
    border-right: none;
}

.navbar .form-inline input:focus,
.navbar .form-inline input:active{
    outline: none;
    box-shadow: none;
}

.navbar .form-inline input::placeholder{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #9B9B9B;
}

.navbar .form-inline .input-group .input-group-append button{
    background: #FFFFFF;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #8E8E93;
    
}

.navbar .form-inline .input-group .input-group-append button:focus{
    outline: none;
}

.navbar .form-inline img{
    margin-right: 20px;
}

.navbar .form-inline .input-group-append{
    width: 40px;
}

.navbar .form-inline .filter{
    margin-left: 20px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #8E8E93;
    border-radius: 12px;
    padding-left: 9px;
    padding-bottom: 4px;
}
.navbar .form-inline .filter:focus,
.navbar .form-inline .filter:active{
    outline: none;
    background: #ece6e6;
}
.navbar .form-inline .filter img{
    height: 20px;
    width: 20px;
}

.navbar .navbar-nav .nav-item .btn{
    background: #DB3022;
    border-radius: 25px;
    width: 100px;
    height: 36px;
    text-align: center;
    padding-bottom: 34px;
}

.navbar .navbar-nav .nav-item{
    margin-bottom: 5px;
}

.navbar .navbar-nav .nav-item .cart-logo{
    margin-right: 40px;
    padding-top: 10px;
}
.nav{
    margin-bottom: 47px;
}

/*Slider*/
.container .row.slider{
    margin-top: 47px;
    margin-bottom: 60px;
}

.container .row.label{
    margin-bottom: 25px;
}

/*Card*/
.container .row.cards .card{
    display: inline-block;
    /* border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; */
    padding-bottom: 30px;
    border-radius: 8px;
    width: 208px;
    height: 278px;
    margin: 0px 10px 20px 0px;
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}

.container .row.cards .card img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.container .row.cards .card .card-body{
    padding: 0;
}

.container .row.cards .card .card-body .isi{
    width: 184px;
    margin: 10px 12px 6px 12px;
}

.container .row.cards .card .card-body .isi.title{
    font-family: metropolis3;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.container .row.cards .card .card-body .isi.price-title{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #DB3022;
}

.container .row.cards .card .card-body .isi.brand-title{
    font-family: Metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #9b9b9b;
}

.container .row.cards .card .card-body .isi.rating img{
    margin-left: 2px;
}
.container .row.cards .card .card-body .isi.rating span{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 8px;
    color: #9b9b9b;
}

.container .text1{
    font-family: Metropolis3;
    font-size: 34px;
    line-height: 34px;
    color: #222222;
}

.container .row.label p{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #9b9b9b;
}

/*Cart*/
.container .row.cart1{
    margin-top: 50px;
    margin-bottom: 30px;
}

.checkbox{
    position: relative;
    display: inline-block;
    transform: translateY(15%);
    
}


.checkbox label{
    margin: 0;
}
.checkbox label:after {
    content: '';
  }
  
  .checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  
  .checkbox img.cr-icon {
    position: absolute;
    line-height: 0;
    border-radius: 4px;
    width: 20px;
    padding: 4px 4px 3px 2px;
    
  }
  
  .checkbox label input[type="checkbox"] {
    display: none;
  }
  
  .checkbox label input[type="checkbox"]+.cr>.cr-icon {
    background-color: #DB3022;
    opacity: 0;
  }
  
  .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
    border: none;
    opacity: 1;
  }

.container .row.cart2 .jumbotron{
    width: 100%;
    display: inline-block;
    margin: 0;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    padding: 0;
    background: #ffffff;
}


.container .row.cart2 .jumbotron.selected{ 
    padding: 20px 24px;
    margin-bottom: 20px;
}
.container .row.cart2 .jumbotron.selected .item-jumbo{
    display: inline-block;
    
}

.container .row.cart2 .jumbotron.selected .text-selected{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #222222;
}
.container .row.cart2 .jumbotron.selected .text-selected span{
    color: #9B9B9B;
}

.container .row.cart2 .jumbotron.selected .button-delete{
    float: right;
    
}

.container .row.cart2 .jumbotron.selected .button-delete button{
    background: #FFFFFF;
    border: none;
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #DB3022;
}

.container .row.cart2 .jumbotron.selected .button-delete button:focus{
    outline: none;
}

.container .row.cart2 .jumbotron.produk{
    padding: 32px 24px 25px 24px;
    margin-bottom: 10px;
}

.container .row.cart2 .tubnail{
    display: inline-block;
    padding: 0px 16px;
    width: 103px;
    height: 69px;
    margin-left: 12px;
}

.container .row.cart2 .tubnail .image {
    width: 70px;
    height: 69px;
    background-image: url("../img/jas.jpg") ;
    background-position-x: center;
    background-size: cover;
    border-radius: 8px;
    
}

.container .row.cart2 .jumbotron.produk .name-product{
    width: 255px;
}

.container .row.cart2 .jumbotron.produk .name-product span{
    display: block;
}

.container .row.cart2 .jumbotron.produk .name-product span.text1{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
}

.container .row.cart2 .jumbotron.produk .name-product span.text2{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #9B9B9B;
}

.container .row.cart2 .jumbotron.produk .button-add .btn{
    height: 36px;
    width: 36px;
}

.container .btn.min{
    margin-right: 17px;
    background: #D5D5D5;
    padding: 2px 20px 30px 10px;
}
.container .row.cart2 .jumbotron.produk .button-add span{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #222222;
}
.container .btn.plus{
    padding-top: 0;
    margin-left: 17px;
    padding-left: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(142, 142, 142, 0.25);
}

.container .row.cart2 .jumbotron.produk .price span{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #222222;
}
.container .row.cart2 .jumbotron.produk .price{
    margin-left: 70px;    
}


.container .col-md-4.buy{
    padding: 24px;
    height: max-content;
}

.container .pay1 span{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #222222 ;
}

.container .total-price .total-price-text span{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #9B9B9B;
}

.container .total-price .text-price span{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #222222;
}

.container .btn-buy .btn{
    background: #DB3022;
    color: #FFFFFF;
}
.container .btn-buy .btn:hover{
    background: #b82d20;
}

.container .btn-buy .btn:active,
.container .btn-buy .btn:focus{
    background: #a7271b;
    box-shadow: none;
}
.container .row.detail-produk .banner img {
    width: 263px;
    height: 329px;

}

.container .row.detail-produk .produk-title .brand-title span{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    color: #222222;
    display: block;
}

.container .row.detail-produk .produk-title span.brand-info{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #9b9b9b;
    
}

.container .checked{
    color:#FFBA49
}
.rate{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 8px;
    color: #9b9b9b;
}

.text-title-detail{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #9b9b9b;
}

.num-price{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 33px;
    color: #222222;
}

.text-title-detail.c{
    font-family: metropolis3;
    color: #222222;
}

.btn-color input[type="radio"]{
    width: 36px;
    height: 36px;
}

.btn-size .btn{
    height: 36px;
    width: 36px;
}

.btn-size .btn.btn-min{
    margin-right: 17px;
    background: #D5D5D5;
    padding: 2px 20px 30px 10px;
}

.btn-size .btn.btn-plus{
    padding-top: 0;
    margin-left: 17px;
    padding-left: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(142, 142, 142, 0.25);
}

.btn-size .text-title-detail.d{
    font-family: metropolis3;
    color: #222222;
}

.chat .btn-chat .btn{
    border: 1.5px solid #222222;
    box-sizing: border-box;
    border-radius: 24px;
    width: 160px;
    height: 48px;
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
}

.btn-now .btn{
    font-family: metropolis;
    background: #DB3022;
    color: #ffffff;
    border-radius: 25px
}

.text3{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #222222;
}

.text3.cd{
    color: #DB3022;
}

.isi{
    font-family: metropolis2;
    line-height: 1.8em;
    font-style: normal;
    font-size: 15px;
    color: #9b9b9b;
}

.isi p {
    margin-bottom: 30px;
}

.rating1 .r1{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    color: #222222;
}
.rating1 .r2{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #9B9B9B;
}

.rating3{
    margin-left: 64px;
}

.text-rat{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #9b9b9b;
    margin-left: 5px;
    display: inline-block;
    
}

.rating3 .btn button{
    width: 120px;
    background: #DB3022;
    border: 1px solid #DB3022;
}

.rating3 .btn{
    transform: translateY(-19%);
}

.progress button{
    color: #DB3022;
    width: 180px;
}

.hrr{
    background-color: #9B9B9B;
}

.link-navbarr a{
    text-decoration: none;
    color: #9B9B9B;
}

.text-title-detail.ck{
    color: #222222;
    font-family: metropolis3;
}

.price-ck{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #222222;
    
}

.jumbotron.adress{
    padding: 30px 35px 30px 30px;
}


.container .row.checkout .jumbotron{
    width: 100%;
    display: inline-block;
    margin: 0;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    padding: 0;
    background: #ffffff;
}

.container .row.checkout .tubnail{
    display: inline-block;
    padding: 0px 16px;
    width: 103px;
    height: 69px;
    margin-left: 12px;
}

.container .row.checkout .tubnail .image {
    width: 70px;
    height: 69px;
    background-image: url("../img/jas.jpg") ;
    background-position-x: center;
    background-size: cover;
    border-radius: 8px;
    
}

.container .row.checkout .jumbotron.produk .name-product{
    width: 255px;
}

.container .row.checkout .jumbotron.produk .name-product span{
    display: block;
}

.container .row.checkout .jumbotron.produk .name-product span.text1{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
}

.container .row.checkout .jumbotron.produk .name-product span.text2{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #9B9B9B;
}

.container .row.checkout .jumbotron.produk{
    padding: 32px 42px 25px 14px;
}

.container .row.checkout .jumbotron.adress{
    padding: 30px 35px 30px 30px;
}

.adress-text{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #222222;
}

.btn-adress .btn{
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 24px;
    height: 36px;
    width: 210px;
    font-family: Metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B;
}

.col-md-4.sumary{
    padding: 24px 24px 32px 24px;
    height: 256px;
}

.text4{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #9B9B9B;
}

.text5{
    font-family: Metropolis3;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #222222;
}

.hrr hr{
    color: #9B9B9B;
    background-color: #9B9B9B;
    border: 1px solid #D5D5D5;
}

.text5.red{
    color: #DB3022;
}

.btn-payment .btn{
    background-color: #DB3022;
    color: #ffffff;
    font-family: metropolis2;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;  
}

.user img{

}

.btn-change .btn{
    background: #ffffff;
    border: 1px solid #ffffff;
}



.text6{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
}

.btn.user{
    background: #456BF3;
   
}
.btn.loc{
    background: #F36F45;
}

.btn.order{
    background: #F3456F;
}

.nav-sidebar button{
    width: 32px;
    height: 32px;
    padding: 0 10px 10px 7px;
}
.nav-sidebar{
    margin-top: 70px;
}
.nav-sidebar span{
    margin-left: 14px;
}

.text7{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9B9B9B;
}

.nav-sidebar a{
    text-decoration: none;
    color: #9B9B9B;
}

.nav-sidebar a:focus,
.nav-sidebar a:active
{
    color: #222222;
    
}

.col-md-9.con{
    background-color: #F5F5F5;
    padding: 50px 0px 114px 45px;
}
.my-profil{
    background-color: #ffffff;
    width: 100%;
}

form.profil  label{
    font-family: Metropolis2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #a9a9a9;
    text-align: right;
    
}



